<h1> Recipe </h1>

<%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
  
    <%= f.fields_for :ingredients do |ingr| %>
      <%= ingr.label :ingredient_name %>
      <%= ingr.text_field :name %><br>
      <%= ingr.label :ingredient_quantity %>
      <%= ingr.text_field :quantity %><br>
    <% end %>
  
    <%= f.submit %>
  <% end %> 